<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <title>Perfect for instagram captions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta property="og:title" content="DrakeMe" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.drakeme.com" />
    <meta property="og:image" content="{{ url_for('static', filename='img/drizzy.png' )}}">
    <meta property="og:description" content="Steady supply of Drake lyrics for ya' headtop">

  </head>

  <body>
    <div class="centered-lyrics">
      {% for line in lyric_lines %}
        <p>{{ line }}</p>
      {% endfor %}
    </div>
  </body>

  <footer>
    <script src="{{ url_for('static', filename='js/analytics.js')}}"></script>
    <script src="{{ url_for('static', filename='js/full-page-click.js')}}"></script>
  </footer>
</html>
